---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Diego Caceres</h1>
			<p class="hero__text">
				"Creatividad es pensar en nuevas ideas. Innovación es hacer cosas."
			</p>
			<Boton href="https://wa.link/jiwmpw" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/DiegoC.jpg"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
