---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Desarrollador híbrido Frontend y Móvil con más de 3 años de experiencia trabajando con tecnologías como Javascript, Ionic, Angular, HTML, CSS, TypeScript y Android, Java. He tenido la oportunidad de trabajar en el sector bancario y en soluciones informáticas enfocadas a productos financieros, tengo un nivel intermedio de inglés, un sólido conocimiento de sistemas de control de versiones. Tengo experiencia trabajando con metodologías ágiles y arquitectura de software (orientada a frontend) y patrones de diseño.
		</p>
	</div>
</section>
