---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="img/miaP.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Ingeniero de Software, con más de 3 años de experiencia, me dedico a
				desarrollar soluciones que mejoran la experiencia de los usuarios
				en sus dispositivos móviles y escritorios. Profesional en al área frontend, 
				me he especializado a lo largo de estos años en el sector fintech/banking.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
