---
import Title from "../components/atoms/Title.astro";
import CardBlog from "./CardBlog.astro";

---

<section id="blog" class="flex flex-col items-center w-full h-full md:max-w-full  justify-center flex-wrap px-4">

  <Title contenido="Mis artículos" margin="2rem"/>
  <div class="flex self-center gap-[20px] justify-center min-w-[30rem]  md:max-w-full flex-wrap flex-col md:flex-row">
   
        <CardBlog
        title="Understanding postMessage for Secure Cross-Origin Communication."
          content="Imagine you have a web application that needs to communicate between different windows or iframes. For instance, you may have a main application running in the parent window and a child window..."
          img="public/img/pm.png"
          href="https://medium.com/@diegocaceres1997garcia/an-alternative-for-sending-data-to-another-place-or-to-localstorage-postmessage-dc7e72e7ea11">
         </CardBlog>
         <CardBlog
         title="IONIC: how to use postMessage to send data more securely."
           content="In modern mobile applications, especially those built with frameworks like Ionic"
           img="public/img/pmi.jpg"
           href="https://medium.com/@diegocaceres1997garcia/ionic-how-to-use-postmessage-for-send-data-more-securily-55e1a1750f55">
          </CardBlog>
    
  </div>
  <!-- <div class="flex justify-center m-5 max-w-full px-3">
    <Boton href="/blog" texto="Ver mas"/>
  </div> -->
  <br>
</section>
